html,
body {
  width: 100%;
  overflow-anchor: none;
}

html {
  overflow-x: hidden;
  overflow-y: auto;

  &.-scroll-lock {
    overflow-y: hidden;
  }
}

body {
  overflow-y: hidden;
}

header {
  position: relative;
  z-index: 1;

  overflow: hidden;
  overscroll-behavior: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100dvh;

  h1 {
    color: #000000;
  }
}

main {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  color: #fff;
}

h1 {
  font-family: Athletics, sans-serif;
  font-size: 10vw;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}