.parallax-element-wrapper {
  z-index: 1;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    width: 20vw;
    left: 5%;
    top: 8%;
  }

  &:nth-child(2) {
    width: 15vw;
    left: 20%;
    top: 18%;
  }

  &:nth-child(3) {
    width: 17.5vw;
    left: 40%;
    top: 12%;
  }

  &:nth-child(4) {
    width: 15vw;
    left: 65%;
    top: 8%;
  }

  &:nth-child(5) {
    width: 20vw;
    left: 85%;
    top: 13%;
  }

  &:nth-child(6) {
    width: 15vw;
    left: 7.5%;
    top: 32%;
  }

  &:nth-child(7) {
    width: 17.5vw;
    left: 25%;
    top: 42%;
  }

  &:nth-child(8) {
    width: 15vw;
    left: 55%;
    top: 28%;
  }

  &:nth-child(9) {
    width: 20vw;
    left: 65%;
    top: 48%;
  }

  &:nth-child(10) {
    width: 17.5vw;
    left: 80%;
    top: 32%;
  }

  &:nth-child(11) {
    width: 20vw;
    left: 6%;
    top: 67%;
  }

  &:nth-child(12) {
    width: 15vw;
    left: 27.5%;
    top: 77%;
  }

  &:nth-child(13) {
    width: 17.5vw;
    left: 38.5%;
    top: 60%;
  }

  &:nth-child(14) {
    width: 20vw;
    left: 57.5%;
    top: 72%;
  }

  &:nth-child(15) {
    width: 20vw;
    left: 82.5%;
    top: 67.5%;
  }

  @media screen and (max-width: 768px) {
    &:nth-child(1) {
      width: 37.5vw;
      left: 5%;
      top: 8%;
    }

    &:nth-child(2) {
      width: 32.5vw;
      left: 20%;
      top: 18%;
    }

    &:nth-child(3) {
      width: 35vw;
      left: 40%;
      top: 12%;
    }

    &:nth-child(4) {
      width: 32.5vw;
      left: 65%;
      top: 8%;
    }

    &:nth-child(5) {
      width: 37.5vw;
      left: 85%;
      top: 17%;
    }

    &:nth-child(6) {
      width: 32.5vw;
      left: 7.5%;
      top: 32%;
    }

    &:nth-child(7) {
      width: 35vw;
      left: 25%;
      top: 42%;
    }

    &:nth-child(8) {
      width: 32.5vw;
      left: 55%;
      top: 28%;
    }

    &:nth-child(9) {
      width: 40vw;
      left: 65%;
      top: 48%;
    }

    &:nth-child(10) {
      width: 35vw;
      left: 80%;
      top: 32%;
    }

    &:nth-child(11) {
      width: 37.5vw;
      left: 6%;
      top: 67%;
    }

    &:nth-child(12) {
      width: 32.5vw;
      left: 27.5%;
      top: 77%;
    }

    &:nth-child(13) {
      width: 35vw;
      left: 38.5%;
      top: 60%;
    }

    &:nth-child(14) {
      width: 37.5vw;
      left: 57.5%;
      top: 72%;
    }

    &:nth-child(15) {
      width: 37.5vw;
      left: 82.5%;
      top: 67.5%;
    }
  }
}

.parallax-element {
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.25);
  }
}