.parallax-section {
  overflow: hidden;

  z-index: 1;
  position: absolute;
  inset: 0;

  width: 100vw;
  height: 100dvh;
}

.parallax-background {
  z-index: 1;

  position: absolute;
  top: -75dvh;
  left: -75vw;

  width: 250vw;
  height: 250dvh;

  will-change: transform;

  /* No CSS transition - handled by JS */
}