.text-animate {
  z-index: 1;
  position: relative;
  display: block;
  pointer-events: none;
  user-select: none;

  will-change: transform;
}

.text-animate-wrapper {
  overflow: hidden;
  display: block;

  span {
    display: inline-block;
  }
}